*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif; 
}
.navbar{
width: 100%;
height:100px;
position: fixed;
top:0px;
background: #1f2235;
z-index: 1;
}

.navbar_container{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.navbar_left-logo img{
  width:230px;
   padding:10px;
   margin:  0 30px;
}
.navbar_right{
  display: flex;
  list-style-type: none;
}
.navbar_right li a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 0 18px;
}
/* Helpers */
.container{
  width: 100%;
  margin: 0 auto;
}
.h-650{
height: 650px;
}
.alignCenter{
  align-items: center;
}
.justifyCenter{
  justify-content: center;
}

/* Grid System */
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-6{

  width: 50%;
}
.col-4{
  width: 33.33333333333333%;
}
/* header */
.header{
  width: 100%;
  height: 100%;
  background: url("/public/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.header_content{
  display: flex;
  align-items: center;
  height: 80%;
  width: 100%;
  color: white;
  margin: 0 50px;
}
.header_ul{
  list-style-type:none ;
  display: flex;
  /* margin-top:5vw ; */
  margin-bottom:2vw ;
}
.header_ul li{
width: 50px;
height: 50px;
border: 2px solid #ff4a57;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin: 0 10px;
cursor: pointer;
}
.header_ul a{
  color: white;
  font-size: 2vw;
  display: flex;
}
.header_ul a:hover{
  color: rgb(221, 199, 199);
}
.header_ul li:hover{
 background-color: rgb(17, 65, 70);
}
.header_ul li:first-child{
  margin-left: 0;
}

.header_section h1{
  font-size: 3.2vw;
  font-weight: 700;
  margin-bottom: 20px;
}
.header_section p{
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  margin-bottom:50px ;
}
.btn{
  outline:none;
  border: none;
  color: white;
  background-color: #0c144b;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
}
.btn:hover{
  background-color: #0b8686;
  color: #120b79d0;
  
}
.btn-outline{
border: 2px solid #ff4a57;
border-radius: 50px;
padding: 13px 40px;
}
.banner_img{
 padding: 0 50px;
 margin: 0 50px;
 margin-top: 80px;
}
.banner_img img{
  width: 35vw;
}
/* Services */
.services{
  background: #1f2235;
  padding: 100px 0;
  color: white; 
}
.common{
  width: 50%; 
  margin: 20px auto;
  text-align: center;
  line-height: 30px;
}
.heading{
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff4a57;
  font-size: 16px;
}
.mainHeader{
  margin-bottom: 20px;
  color: white;
}
.mainContent{
  font-size: 16px;
  color:#dfdfdf;
}
.commonBorder{
  background: #ff4a57;
  height: 3px;
  width: 70px;
  margin: 30px auto;
}
.row{
  margin-top: 40px;
  
}
.services_box{
  padding: 40px;
  background: #23263a;
  color: white;
  margin: 20px;
  height: 300px;
  transition:all 0.5s linear;
}
.services_box:hover{
  background-color: #ff4a57 ;
}
.commonIcon{
  font-size: 40px;
  color:  #ff4a57;
  margin-bottom: 15px;
}
.services_box:hover .commonIcon{
  color: white;
}
.services_box-header{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services_box-p{
  font-size: 14px;
  color: #dfdfdf;

}
.about{
  width: 100%;
  background-color:#23263a;
  padding: 100px 0;
}
.about_img{
  padding: 30px;
}
.about_img img{
  width:330px;
  height: 550px;
  margin: 0 0 20px 60px;
}
.about_info{
 width: 600px;
  margin: 0px 1px 1px -73px;
  color:#dfdfdf;
}
.about_info h1{
  margin-bottom: 30px;
  color: white;
}
.about_info-p1{
  font-size: 14px;
  margin-bottom: 20px;
}
.about_info-p2{
  font-size: 14px;
}
.info_contacts{
  margin-top: 20px;
}
.info_contacts strong{
  color: #ff4a57;
}
.info_contacts p{
  margin-top: 3px;
}
.info_contacts .col-6{
  margin:10px 0;

}
/* Price */
.prices{
  width: 100%;
  padding: 100px;
  background:#1f2235;
}
.price{
  background: #23263a;
  padding: 25px;
  border-radius: 8px;
  margin: 25px 20px;
  color: white;
  text-align: center;
}
.priceHeading{
  font-size: 24px;
  font-weight: 500;
  margin: 20px;
 
}
.price_rs{
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 10px;
}
.price_rs span{
   font-size: 25px;
}
.price ul{
  list-style-type: none;
}
.price ul li{
  border-bottom: 1px solid #3c3c3c;
  font-size: 14px;
  padding: 15px 0;
}
.price{
  border: 2px solid #ff4a57;
}
.price_btn{
  margin: 40px;
}

/* contact */
.contact{
  padding: 10px 0;
  background: #23263a;
}
.contactSection-logo{
text-align: center;
}
.contactSection-logo img{
  margin: 0 auto 40px;
  width: 200px;
}
.contactSection p{
  color: white;
 line-height: 30px;
  margin-bottom: 50px;
}
.contactCircles{
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: center;
 
}
.contactCircles li a{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #1f2235;
  margin: 0 10px;
}
.toggle{
  position: fixed;
  top: 20px;
  right: 25px;
  background:black;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
  align-items: center;
  justify-content: center;
  display: none;
}

@media(max-width:600px){
  .container{
    width: 100%;
    padding: 0 50px;
  }

.col-6{
width: 100%;
}
.col-3{
  width: 100%;
}
.col-4{
  width: 100%;
}
.navbar_right{
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #1f2235;
  position: fixed;
  top: 0;
  left: 0;

}
.navbar_right li a{
  display: block;
  padding: 20px 0;
  font-size: 14px;
}
.toggle{
  display: flex;
}
.banner_img img{
  display: none;
}
.header_section h1{
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header_section p{
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom:50px ;
}
.common{
  width: 100%;
}
.h-650{
  height: auto;
}
}